@font-face {
  font-family: 'SVN-Journey';
  src: local('SVN-Journey'), url(../fonts/SVN-Journey/SVN-Journey.otf) format('opentype');
}

body {
  font-family: 'Quicksand', sans-serif;
}
.container-fluid {
  padding: 0px !important;
}
header {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 58px;
    align-items: center;
    height: 78px;
    ul.left {
      padding: 0px;
      li {
        list-style: none;
        display: inline-block;
        margin-right: 50px;
        line-height: 16px;
        color: #000000;
        cursor: pointer;
      }
    }
    .logo {
      cursor: pointer;
      position: relative;
      h1 {
        font-family: 'SVN-Journey';
        font-size: 60px;
        line-height: 91px;
        color: #324041;
      }
      .logo-image {
        background: url(../images/header/rose.svg);
        width: 32px;
        height: 32px;
        position: absolute;
        left: 89px;
        top: 23px;
      }
    }
    ul.right {
      padding: 0px;
      display: flex;
      justify-items: center;
      li {
        list-style: none;
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 45px;
        cursor: pointer;
      }
      li.divide {
        position: relative;
      }
      li.divide::after {
        content: '';
        border-left: 1px solid black;
        height: 24px;
        width: 1px;
        left: 48px;
        position: absolute;
      }
      li.search-icon {
        background: url(../images/header/search.png);
      }
      li.user-icon {
        background: url(../images/header/user.png);
      }
      li.like-icon {
        background: url(../images/header/love.png);
      }
      li.cart-icon {
        background: url(../images/header/shopping-cart.png);
      }
    }
  };
  .categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0px 58px;
    background: linear-gradient(90deg, #313F40 0%, #536166 100%);
    color: #fff;
    font-size: 14px;
    line-height: 15px;
    position: relative;
    &::before {
      content: '';
      background: url(../images/header/Polygon.png);
      width: 30px;
      height: 18px;
      left: 86px;
      top: -12px;
      position: absolute;
    }
    ul.left {
      padding: 0px;
      margin: 19px 0px;
      li {
        list-style: none;
        display: inline-block;
        margin-right: 39px;
        cursor: pointer;
      }
    }
    ul.right {
      display: flex;
      align-content: center;
      margin: 19px 0px;
      .logo-vn {
        width: 24px;
        height: 24px;
        background: url(../images/header/vietnam.png);
        margin-right: 19px;
      }
      p {
        margin: auto;
      }
    }
  };
  .services {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding-left: 124px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    ul {
      padding: 0px;
      margin: 19px 0px;
      li {
        list-style: none;
        display: inline-block;
        margin-right: 39px;
        cursor: pointer;
        line-height: 12px;
        img {
          width: 24px;
          height: 24px;
          margin-right: 14px;
        }
      }
    }
  }
}
$layout-breakpoint-small: 960px;

@media (max-width: $layout-breakpoint-small) {
  header {
    .categories {
      display: none;
    }
    .navbar {
      flex-direction: column-reverse;
      height: 100%;
      margin: 0 auto;
      ul.left {
        padding: 0px;
        width: 100%;
        background: linear-gradient(90deg, #313F40 0%, #536166 100%);
        display: flex;
        justify-content: center;
        height: 60px;
        li {
          margin: auto;
          color: white;
        }
      }
      ul.right {
        display: none;
      }
    }
    .services {
      padding-left: 20px;
      min-height: 150px;
      height: 100%;
      line-height: 38px;
    }
  }
  
}

.footer-wrapper {
  height: 335px;
  width: 100%;
  padding-top: 44px;
  background: #F1F1F1;
  .content {
    display: flex;
    width: calc(100% - 110px);
    height: 100%;
    margin: 0 70px 0px 44px;
    .left {
      flex: 2;
      margin-right: 50px;
      .top {
        display: flex;
        justify-content: space-between;
      }
      p {
        margin-bottom: 5px;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
      }
      .article {
        font-weight: 500;
        font-size: 19px;
        line-height: 24px;
        margin-bottom: 19px;
      }
      .content-block {
        .working-hour {
          display: flex;
          font-size: 12px;
          .hour {
            margin-right: 20px;
            font-weight: 500;
          }
        }
      }
      .bot {
        margin-top: 19px;
        .title {
          display: flex;
          justify-content: space-between;
          margin-bottom: 18px;
          align-items: center;
          .hotline {
            font-weight: 500;
            font-size: 19px;
            line-height: 24px;
            flex: 3;
          }
          .departments {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            flex: 1;
          }
        }
        .content {
          display:flex;
          justify-content: space-between;
          margin-left: 0px;
          .content-left {
            display: flex;
            ul.block.end {
              margin-left: 60px;
              li {
                margin-bottom: 13px;
              }
            }
          }
          ul.block {
            padding: 0px;
            li {
              list-style: none;
              font-size: 12px;
              line-height: 15px;
              margin-bottom: 13px;
              img {
                width: 15px;
                height: 15px;
                margin-right: 11px;
              }
            }
          }
          ul.block.end {
            li {
              margin-bottom: 4px;
            }
          }
        }
      }
    }
    .right {
      flex: 1;
      background: #fff;
      max-width: 251px;
      max-height: 251px;
      box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.25);
      display: flex;
      text-align: center;
      flex-direction: column;
      .title {
        padding-top: 41px;
        width:100%;
        text-align: center;
        margin-bottom: 31px;
        p {
          margin: 0px;
          font-size: 19px;
          line-height: 24px;
        }
        &--bold {
          font-weight: 500;
        }
      }
      .email {
        display: flex;
        margin: 0px 22px 29px 22px;
        input {
          background: #F1F1F1;
          border: none;
          height: 31px;
          width: 100%;
          flex: 1;
          padding-left: 8px;
        }
        input::placeholder {
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          color: #000000;
        }
        span.btn {
          background: #000000;
          text-align: center;
          color: white;
          width: 69px;
          height: 31px;
          font-size: 12px;
          line-height: 15px;
          padding: 8px;
          cursor: pointer;
          border-radius: 0;
        }
      }
      .social {
        display: flex;
        justify-content: center;
        margin-bottom: 41px;
        img {
          margin-right: 31px;
          width: 22px;
          height: 22px;
        }
      }
    }
  }
  .privacy {
    height: 67px;
    width: 100%;
    padding: 0px 47px;
    background: #324041;
    display: flex;
    color: #fff;
    justify-content: space-between;
    &_left {
      display: flex;
      h1.logo {
        font-family: 'SVN-Journey';
        font-size: 50px;
        line-height: 75px;
        margin-right: 80px;
      }
      .privacy_content {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        p {
          margin: 0;
          font-weight: 500;
        }
      }
    }
    &_right {
      display: flex;
      align-items: center;
      img {
        width: 51px;
        height: 28px;
        margin-right: 34px;
      }
    }
  }
}