@font-face {
  font-family: 'SVN-Journey';
  src: local('SVN-Journey'), url(../fonts/SVN-Journey/SVN-Journey.otf) format('opentype');
}

body {
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden;
}
.container-fluid {
  padding: 0px !important;
}
header.header-wrapper {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 58px;
    align-items: center;
    height: 78px;
    ul.left {
      padding: 0px;
      li {
        list-style: none;
        display: inline-block;
        margin-right: 50px;
        line-height: 16px;
        color: #000000;
        cursor: pointer;
      }
    }
    .logo {
      cursor: pointer;
      position: relative;
      h1 {
        font-family: 'SVN-Journey';
        font-size: 60px;
        line-height: 91px;
        color: #324041;
      }
      .logo-image {
        background: url(../images/header/rose.svg);
        width: 32px;
        height: 32px;
        position: absolute;
        left: 89px;
        top: 23px;
      }
    }
    ul.right {
      padding: 0px;
      display: flex;
      justify-items: center;
      align-items: center;
      input#search {
        margin-right: 10px;
        padding-left: 10px;
      }
      li {
        list-style: none;
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 45px;
        cursor: pointer;
      }
      li.divide {
        position: relative;
      }
      li.divide::after {
        content: '';
        border-left: 1px solid black;
        height: 24px;
        width: 1px;
        left: 48px;
        position: absolute;
      }
      li.search-icon {
        background: url(../images/header/search.png);
      }
      li.user-icon {
        background: url(../images/header/user.png);
      }
      li.like-icon {
        background: url(../images/header/favourite.svg);
      }
      li.cart-icon {
        background: url(../images/header/shopping-cart.png);
      }

      a{
        width: 24px;
        height: 24px;
      }
    }
  };
  .categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0px 58px;
    background: linear-gradient(90deg, #313F40 0%, #536166 100%);
    color: #fff;
    font-size: 14px;
    line-height: 15px;
    position: relative;
    &::before {
      content: '';
      background: url(../images/header/Polygon.png);
      width: 30px;
      height: 18px;
      left: 86px;
      top: -12px;
      position: absolute;
    }
    ul.left {
      padding: 0px;
      margin: 19px 0px;
      li {
        list-style: none;
        display: inline-block;
        margin-right: 39px;
        cursor: pointer;
      }
    }
    ul.right {
      display: flex;
      align-content: center;
      margin: 19px 0px;
      .logo-vn {
        width: 24px;
        height: 24px;
        background: url(../images/header/vietnam.png);
        margin-right: 19px;
      }
      p {
        margin: auto;
      }
    }
  };
  .services {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding-left: 124px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    ul {
      padding: 0px;
      margin: 19px 0px;
      li {
        list-style: none;
        display: inline-block;
        margin-right: 39px;
        cursor: pointer;
        line-height: 12px;
        img {
          width: 24px;
          height: 24px;
          margin-right: 14px;
        }
      }
    }
  }
}
$layout-breakpoint-small: 960px;

@media (max-width: $layout-breakpoint-small) {
  header {
    .categories {
      display: none;
    }
    .navbar {
      flex-direction: column-reverse;
      height: 100%;
      margin: 0 auto;
      ul.left {
        padding: 0px;
        width: 100%;
        background: linear-gradient(90deg, #313F40 0%, #536166 100%);
        display: flex;
        justify-content: center;
        height: 60px;
        li {
          margin: auto;
          color: white;
        }
      }
      ul.right {
        display: none;
      }
    }
    .services {
      padding-left: 20px;
      min-height: 150px;
      height: 100%;
      line-height: 38px;
    }
  }
  
}

.footer-wrapper {
  height: 335px;
  width: 100%;
  padding-top: 44px;
  background: #F1F1F1;
  .content {
    display: flex;
    width: calc(100% - 110px);
    height: 100%;
    margin: 0 70px 0px 140px;
    .left {
      flex: 2;
      margin-right: 50px;
      .top {
        display: flex;
        justify-content: space-between;
      }
      p {
        margin-bottom: 5px;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
      }
      .article {
        font-weight: 500;
        font-size: 19px;
        line-height: 24px;
        margin-bottom: 19px;
      }
      .content-block {
        .working-hour {
          display: flex;
          font-size: 12px;
          .hour {
            margin-right: 20px;
            font-weight: 500;
          }
        }
      }
      .bot {
        margin-top: 19px;
        display: flex;
        justify-content: space-between;
        &_left {
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          .hotline {
            font-weight: 500;
            font-size: 19px;
            line-height: 24px;
            flex: 3;
            margin-bottom: 18px;
          }
          
          .content-left {
            display: flex;
            ul.block {
              padding-left: 0px;
              margin-right: 60px;
              li {
                list-style: none;
                font-size: 12px;
                line-height: 15px;
                margin-bottom: 13px;
                img {
                  width: 15px;
                  height: 15px;
                  margin-right: 11px;
                }
              }
            }
          }
        }
        &_right {
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          .departments {
            font-weight: 600;
            font-size: 13px;
            line-height: 15px;
            margin-top: 8px;
          }
          ul.block {
            padding-left: 0px;
            li {
              list-style: none;
              font-size: 12px;
              line-height: 15px;
              margin-bottom: 4px;
            }
          }
        }
        .content {
          display:flex;
          justify-content: space-between;
          margin-left: 0px;
          
          ul.block {
            padding: 0px;
            
          }
          ul.block.end {
            li {
              margin-bottom: 4px;
            }
          }
        }
      }
    }
    .right {
      padding-left: 100px;
      margin-right: 35px;
      flex: 1;
      .form {
        background: #fff;
        max-width: 300px;
        max-height: 300px;
        box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.25);
        display: flex;
        text-align: center;
        flex-direction: column;
        .title {
          padding-top: 41px;
          width:100%;
          text-align: center;
          margin-bottom: 31px;
          p {
            margin: 0px;
            font-size: 19px;
            line-height: 24px;
          }
          &--bold {
            font-weight: 500;
          }
        }
        .email {
          display: flex;
          margin: 0px 22px 29px 22px;
          input {
            background: #F1F1F1;
            border: none;
            height: 31px;
            width: 100%;
            flex: 1;
            padding-left: 8px;
          }
          input::placeholder {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #000000;
          }
          span.btn {
            background: #000000;
            text-align: center;
            color: white;
            width: 69px;
            height: 31px;
            font-size: 12px;
            line-height: 15px;
            padding: 8px;
            cursor: pointer;
            border-radius: 0;
          }
        }
        .social {
          display: flex;
          justify-content: center;
          margin-bottom: 41px;
          img {
            margin-right: 31px;
            width: 22px;
            height: 22px;
          }
        }
      }
    }
    
  }
  .privacy {
    height: 67px;
    width: 100%;
    padding: 0px 130px;
    background: #324041;
    display: flex;
    color: #fff;
    justify-content: space-between;
    &_left {
      display: flex;
      h1.logo {
        font-family: 'SVN-Journey';
        font-size: 50px;
        line-height: 75px;
        margin-right: 80px;
      }
      .privacy_content {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        p {
          margin: 0;
          font-weight: 500;
        }
      }
    }
    &_right {
      display: flex;
      align-items: center;
      img {
        width: 51px;
        height: 28px;
        margin-right: 34px;
      }
    }
  }
}

.product_item {
  width: 239px;
  height: 549px;
  background: #fff;
  text-align: center;
  margin: 21px;
  &_image {
    width: 100%;
    height: 319px;
    cursor: pointer;
  }
  &_name {
    font-size: 24px;
    font-weight: bold;
    line-height: 25px;
    margin: 29px 0 15px 0px;
  }
  &_price {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
  }
  &_ratingstar {
    width: 25px;
    height: 25px;
    margin-right: 3px;
  }
  &_btn {
    margin-top: 15px;
    width: 164px;
    height: 38px;
    margin: 15px auto;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    line-height: 19px;
    cursor: pointer;
  }
  &:hover {
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.25);
    .product_item_btn {
      display: flex;
      justify-content: space-between;
      .detail {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        border: 1px solid #C4C4C4;
        width: 45%;
        &:hover{
          background-color: #c5e5e7;
          color: #fff;
        }
      }
      .add-to-cart {
        width: 45%;
        height: 30px;
        font-size: 20px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #C4C4C4;

        .cart {
          width: 24px;
          height: 24px;
          margin-left: 5px;
          background: url(../images/header/shopping-cart.png);
        }

        &:hover{
          background-color: #c5e5e7;
          color: #fff;
        }
      }
    }
  }
}

.homepage {
  &_banner {
    width: 100%;
  }
  .category_title {
    display: flex;
    font-size: 23px;
    line-height: 25px;
    justify-content: center;
    margin-top: 17px;
    &--bold {
      font-weight: 700;
    }
  }
}

.search_result {
  margin: 40px 60px;
  &_filter_bar {
    background: #FFFFFF;
    min-height: 500px;
    .filter_bar{
      &_top {
        height: 129px;
        width: 263px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        &_title {
          height: 40px;
          font-weight: 600;
          font-size: 17px;
          line-height: 16px;
          padding: 15px;
          border-bottom: 1px solid #E5E5E5;
        }
        &_content {
          display: inline-flex;
          padding: 15px;
          font-size: 16px;
          line-height: 16px;
          p {
            font-weight: 600;
          }
        }
      }
      &_bot {
        width: 263px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        ul {
          margin-top: 30px;
          display: flex;
          flex-direction: column;
          padding-left: 0px;
          li {
            list-style-type: none;
            display: flex;
            position: relative;
            padding: 12px 17px 0px 12px;
            border-bottom: 1px solid #D7D8DD;
            font-size: 16px;
            line-height: 16px;
            p {
              font-weight: 600;
            }
            img {
              width: 16px;
              height: 16px;
              position: absolute;
              right: 17px;
              top: 16px;
            }
          }
        }
      }
    }
  }
  &_title {
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 12px;
  }
  &_pagination {
    display: flex;
    justify-content: space-between;
    .sort {
      select {
        -moz-appearance:none;
        -webkit-appearance:none;
        appearance:none;
        border: 1px solid #D7D8DD;
        margin-left: 33px;
        padding: 0px 10px;
        height: 25px;
        background-image: url("../images/products/arrow_down.png");
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: 10px;
      }
    }
    .paging {
      display: flex;
      flex-wrap: wrap;
      max-width: 70%;
      &_item {
        width: 41px;
        height: 25px;
        background: #FFFFFF;
        border: 1px solid #D7D8DD;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        margin-right: 21px;
        cursor: pointer;
        padding: 1px;
        &.active {
          background-color: #404E51;
          color: white;
        }
      }
      &_item:nth-last-child(1) {
        margin-right: 0px;
      }
    }
  }
  &_product_list {
    min-height: 500px;
  }
}